<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryOrderServlet</servlet-name>
        <servlet-class>controller.DeliveryOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deliveryScheduleServlet</servlet-name>
        <servlet-class>controller.deliveryScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryReceiptServlet</servlet-name>
        <servlet-class>controller.DeliveryReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumptionReportServlet</servlet-name>
        <servlet-class>controller.ConsumptionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuttingReportServlet</servlet-name>
        <servlet-class>controller.CuttingReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumptionReportToAccessoryInventory</servlet-name>
        <servlet-class>controller.ConsumptionReportToAccessoryInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumptionReportToProductionInventoryServlet</servlet-name>
        <servlet-class>controller.ConsumptionReportToProductionInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromoServlet</servlet-name>
        <servlet-class>controller.PromoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseOrderServlet</servlet-name>
        <servlet-class>controller.PurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryReportServlet</servlet-name>
        <servlet-class>controller.InventoryReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarehouseInventoryServlet</servlet-name>
        <servlet-class>controller.WarehouseInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionInventoryServlet</servlet-name>
        <servlet-class>controller.ProductionInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessoriesInventoryServlet</servlet-name>
        <servlet-class>controller.AccessoriesInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccessoriesInventoryServlet</servlet-name>
        <servlet-class>controller.ViewAccessoriesInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCRtoAIServlet</servlet-name>
        <servlet-class>controller.ViewCRtoAIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeliveryOrderServlet</servlet-name>
        <servlet-class>controller.ViewDeliveryOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeliveryScheduleServlet</servlet-name>
        <servlet-class>controller.ViewDeliveryScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInventoryReportServlet</servlet-name>
        <servlet-class>controller.ViewInventoryReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeliveryReceiptServlet</servlet-name>
        <servlet-class>controller.ViewDeliveryReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductionInventoryServlet</servlet-name>
        <servlet-class>controller.ViewProductionInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>controller.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPromoServlet</servlet-name>
        <servlet-class>controller.ViewPromoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPurchaseOrderServlet</servlet-name>
        <servlet-class>controller.ViewPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWarehouseInventoryServlet</servlet-name>
        <servlet-class>controller.ViewWarehouseInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewConsumptionReportServlet</servlet-name>
        <servlet-class>controller.ViewConsumptionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCuttingReportServlet</servlet-name>
        <servlet-class>controller.ViewCuttingReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCRtoPI</servlet-name>
        <servlet-class>controller.ViewCRtoPIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSupplierServlet</servlet-name>
        <servlet-class>controller.ViewSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>controller.SupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPickingForm</servlet-name>
        <servlet-class>controller.ViewPickingForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodePickingForm</servlet-name>
        <servlet-class>controller.EncodePickingForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryOrderServlet</servlet-name>
        <url-pattern>/DeliveryOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deliveryScheduleServlet</servlet-name>
        <url-pattern>/deliveryScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryReceiptServlet</servlet-name>
        <url-pattern>/DeliveryReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumptionReportServlet</servlet-name>
        <url-pattern>/ConsumptionReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuttingReportServlet</servlet-name>
        <url-pattern>/CuttingReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumptionReportToAccessoryInventory</servlet-name>
        <url-pattern>/ConsumptionReportToAccessoryInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumptionReportToProductionInventoryServlet</servlet-name>
        <url-pattern>/ConsumptionReportToProductionInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromoServlet</servlet-name>
        <url-pattern>/PromoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseOrderServlet</servlet-name>
        <url-pattern>/PurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryReportServlet</servlet-name>
        <url-pattern>/InventoryReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseInventoryServlet</servlet-name>
        <url-pattern>/WarehouseInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionInventoryServlet</servlet-name>
        <url-pattern>/ProductionInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessoriesInventoryServlet</servlet-name>
        <url-pattern>/AccessoriesInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccessoriesInventoryServlet</servlet-name>
        <url-pattern>/ViewAccessoriesInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCRtoAIServlet</servlet-name>
        <url-pattern>/ViewCRtoAIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeliveryOrderServlet</servlet-name>
        <url-pattern>/ViewDeliveryOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeliveryScheduleServlet</servlet-name>
        <url-pattern>/ViewDeliveryScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInventoryReportServlet</servlet-name>
        <url-pattern>/ViewInventoryReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeliveryReceiptServlet</servlet-name>
        <url-pattern>/ViewDeliveryReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductionInventoryServlet</servlet-name>
        <url-pattern>/ViewProductionInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/ViewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPromoServlet</servlet-name>
        <url-pattern>/ViewPromoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPurchaseOrderServlet</servlet-name>
        <url-pattern>/ViewPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWarehouseInventoryServlet</servlet-name>
        <url-pattern>/ViewWarehouseInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewConsumptionReportServlet</servlet-name>
        <url-pattern>/ViewConsumptionReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCuttingReportServlet</servlet-name>
        <url-pattern>/ViewCuttingReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCRtoPI</servlet-name>
        <url-pattern>/ViewCRtoPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSupplierServlet</servlet-name>
        <url-pattern>/ViewSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/SupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPickingForm</servlet-name>
        <url-pattern>/ViewPickingForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodePickingForm</servlet-name>
        <url-pattern>/EncodePickingForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
